/* NAV
--------------------------------------------------- */

    // Base Nav
    .nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        @extend .clearfix;
        > li {
            position: relative;
            display: block;
            > a {
                position: relative;
                display: block;
            }
        }
    }

    // Nav Inline
    .nav_inline {
        &.nav_separator {
            > li {
                border-left: 1px solid $nav_color;
                &:first-child {
                    border-left: none;
                }
            }
        }
        > li {
            float: left;
            font-size: em(16);
            > a {
                display: block;
                color: $nav_color;
                text-decoration: none;
                padding: 0px 10px;
                &:hover {
                    color: $nav_hover-color;
                }
            }
            &.nav__item--current {
                a {
                    color: $nav_active-color;
                }
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
            }
        }
    }
