/* COMMENTS
--------------------------------------------------- */

    .comments,
    .comment__respond {
        margin-top: 50px;
    }

    // Comment Form
    .comment__respond__form__fieldset {
        border: none;
    }
    .comments__title,
    .comment__respond__title {
        font-weight: 300;
    }
    .allowed_tags code {
        font-size: .8em;
    }
