/* MASTER FOOT
--------------------------------------------------- */

    .master_foot {
        margin-top: 40px;
        background-color: $color-background-footer;
        color: #FFF;
    }
    .master_foot_website_author {
        color: darken($color-1, 15%);
        &:hover {
            color: darken($color-1, 25%);
        }
    }
