/* MASTER HEAD
--------------------------------------------------- */

    .master_head {
        background-color: $color-background-header;
        padding: 20px;
        margin-bottom: 40px;
        @extend .clearfix;
    }

    // Logo
    .master_head__brand {
        @extend .left;
    }

    // Navigation
    .master_head__navigation {
        @extend .left;
        margin-left: 45px;
        margin-top: 23px;
        font-weight: 300;
    }
