/* POST
--------------------------------------------------- */
    .article {
        padding: 10px;
        background-color: $color-background-article;
        border-bottom: 12px solid rgba(221, 221, 221, .3);
        &:last-child {
            border-bottom: none;
        }
    }
    .article__header__title {
        margin-bottom: 0;
        letter-spacing: em(-1.2);
    }
    .article__header__vcard {
        margin-top: 0;
        font-size: em(12);
        font-weight: 300;
    }
