/* SIDEBAR
--------------------------------------------------- */

    .sidebar {
        background-color: $color-background-sidebar;
        padding-top: 10px;
    }

    .sidebar__widget {
        a {
            font-size: em(14);
        }
    }
    .sidebar_widgettitle {
        color: $color-heading-sidebar;
        font-weight: 300;
    }
