/* SEARCH
--------------------------------------------------- */

    .search {
        .article {
            background-color: #ECF0F1;
            border-right: 4px solid $color-1;
            margin-bottom: em(20);
        }
    }
