/*  GLOBAL
---------------------------------------------------*/

    *,
    *:before,
    *:after {
        -webkit-font-smoothing:antialiased;
        font-smoothing:antialiased;
        text-rendering:optimizeLegibility;
        @include box-sizing(border-box); // Set box-sizing globally to handle padding and border widths
    }

    html {
        overflow-y:scroll;
        min-height:100%;
        font-size: $base-font-size;
    }

    body {
        background: $color-body_background;
        color: $color-text;
        font-family: $base-font-family;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        position: relative;
    }

    // Default Link Styles
    // ----------------------------------------------
    a {
        color: $color-link;
        text-decoration: none;
        line-height: inherit;

        &:hover,
        &:focus { color: $color-link-hover; }

        img { border:none; }
    }

     hr {
        border: $hr-border-style $hr-border-color;
        border-width: $hr-border-width 0 0;
        clear: both;
        margin: $hr-margin 0 ($hr-margin - em(1));
        height: 0;
    }
