/* HELPERS
--------------------------------------------------- */

    /**
     * Clearfix
     * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing over
     * and over in your markup.
     */
        .clearfix {
            *zoom:1;
            &:before,
            &:after {
                content:" ";
                display: table;
            }
            &:after {
                clear: both;
            }
        }

        // Miscellaneous useful HTML classes
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .text_left {
            text-align: left;
        }
        .text_right {
            text-align: right;
        }
        .text_center {
            text-align: center;
        }
        .text_justify {
            text-align: justify;
        }
        .text_uppercase {
            text-transform: uppercase;
        }
        .is_hidden         {
            display: none;
        }

     /*
     * Hide only visually, but have it available for screenreaders: h5bp.com/v
     */

    .screen_reader_text {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    /*
     * Extends the .screen_reader_text class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */

    .screen_reader_text.focusable:active,
    .screen_reader_text.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

    /*
     * Hide visually and from screenreaders, but maintain layout
     */

    .invisible {
        visibility: hidden;
    }
