/* MIXINS
--------------------------------------------------- */

    $experimental: true !default;

    // Clearfix
    // We use this to do clear floats
    // ----------------------------------------------
    @mixin clearfix() {
      *zoom:1;
      &:before, &:after { content: " "; display: table; }
      &:after { clear: both; }
    }

    // Box sizing
    // We use this to add box-sizing across browser prefixes
    // ------------------------------------------------
    @mixin box-sizing($type:border-box) {
      @if $experimental {
        -moz-box-sizing: $type;
        -webkit-box-sizing: $type;
      }
      box-sizing: $type;
    }

    // Transition
    // We use this to add transitions to elements
    // --------------------------------------------------
    @mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
      @if $experimental {
        -webkit-transition: $property $speed $ease;
        -moz-transition: $property $speed $ease;
      }
      transition: $property $speed $ease;
    }

    // Triangle
    // We use this to create equilateral triangles
    // --------------------------------------------------
    @mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset $triangle-size;
      @if ($triangle-direction == top) {
        border-color: $triangle-color transparent transparent transparent;
        border-top-style: solid;
      }
      @if ($triangle-direction == bottom) {
        border-color: transparent transparent $triangle-color transparent;
        border-bottom-style: solid;
      }
      @if ($triangle-direction == left) {
        border-color: transparent transparent transparent $triangle-color;
        border-left-style: solid;
      }
      @if ($triangle-direction == right) {
        border-color: transparent $triangle-color transparent transparent;
        border-right-style: solid;
      }
    }

    // Transitions
    // We use this to create css trabsitions
    // USAGE: @include transition(all 0.2s ease-in-out);
    // --------------------------------------------------
    @mixin transition($transition...) {
        // defining prefixes so we can use them in mixins below
        $prefixes:      ("-webkit", "-ms", "-o",  "");
        @each $prefix in $prefixes {
            #{$prefix}-transition: $transition;
        }
        transition: $transition;
    }
