/* TYPOGRAPHY
--------------------------------------------------- */

     // Set @font-face here
     // ----------------------------------------------
    @include font-face(
        "sofiaprolight",
        inline-font-files(
        'sofiaprolight/sofiaprolight.woff', woff,
        'sofiaprolight/sofiaprolight.ttf', ttf,
        'sofiaprolight/sofiaprolight.svg', svg),
        'sofiaprolight/sofiaprolight.eot',
        normal, // font-weight
        normal  // font-style
    );

    // Default header styles
    // ----------------------------------------------
    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        font-style: $heading-font-style;
        color: $heading-font-color;
        text-rendering: $heading-text-rendering;
        margin-top: $heading-top-margin;
        margin-bottom: $heading-bottom-margin;
        line-height: $heading-line-height - em(3);
    }

    // Default paragraph styles
    // ----------------------------------------------
    p {
        font-family: $paragraph-font-family;
        font-weight: $paragraph-font-weight;
        font-size: $paragraph-font-size;
        line-height: $paragraph-line-height;
        margin-bottom: $paragraph-margin-bottom;
        text-rendering: $paragraph-text-rendering;
    }
