/* VARIABLES
 *   Table
 *      $Colors
 *      $Fonts
--------------------------------------------------- */

// $Colors
$color-1: #15afa4;
$color-2: #199088;
$color-text: #34495e;
$color-negative: #E74C3C;
$color-positive: #2ECC71;

$color-body_background: #FFF;
$color-background-header: #ECF0F1;
$color-background-footer: $color-1;
$color-background-article: #FFF;
$color-background-sidebar: $color-background-article;

$color-link: $color-2;
$color-link-visited: $color-link;
$color-link-hover: lighten($color-link, 5%);

$color-heading: $color-link;
$color-heading-sidebar: $color-text;

$color-border: #CCC;

// $Fonts
$base-font-size: 100% !default;
$base-line-height: 150% !default; // $base-line-height is 24px while $base-font-size is 16px
$base-font-family: 'sofiaprolight', sans-serif;
$em-base: 16px !default; // This is the default html and body font-size for the base em value.

$font-smoothing: subpixel-antialiased !default; // We use this to control font-smoothing

$text-direction: ltr !default; // We use these to control text direction settings

// NOTE: No need to change this conditional statement, $text-direction variable controls it all.
$default-float: left !default;
$opposite-direction: right !default;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}

// We use these to control header font styles
$heading-font-family: $base-font-family;
$heading-font-weight: 100 !default;
$heading-font-style: normal !default;
$heading-font-color: $color-text !default;
$heading-line-height: 1.4 !default;
$heading-top-margin: .2em !default;
$heading-bottom-margin: .5em !default;
$heading-text-rendering: optimizeLegibility !default;

// We use these to control header font sizes
$h1-font-size: em(55) !default;
$h2-font-size: em(37) !default;
$h3-font-size: em(27) !default;
$h4-font-size: em(23) !default;
$h5-font-size: em(18) !default;
$h6-font-size: 1em !default;

// We use these to style the <hr> element
$hr-border-width: 1px !default;
$hr-border-style: solid !default;
$hr-border-color: #ddd !default;
$hr-margin: em(0) !default;

// We use these to style paragraphs
$paragraph-font-family: inherit !default;
$paragraph-font-weight: normal !default;
$paragraph-font-size: em(14) !default;
$paragraph-line-height: 1.6 !default;
$paragraph-margin-bottom: em(20) !default;
$paragraph-text-rendering: optimizeLegibility !default;

// We use these to style the <hr> element
$hr-border-width: 1px !default;
$hr-border-style: solid !default;
$hr-border-color: #ddd !default;
$hr-margin: em(20) !default;

// Media Queries
$small-screen: 768px !default;
$medium-screen: 1280px !default;
$large-screen: 1440px !default;

$screen: "only screen" !default;
$small: "only screen and (min-width: #{$small-screen})" !default;
$medium: "only screen and (min-width:#{$medium-screen})" !default;
$large: "only screen and (min-width:#{$large-screen})" !default;
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;

// Nav components
$nav_color : #a5a5a5;
$nav_active-color: $color-2;
$nav_hover-color: $nav_active-color;

// Alert Box components
$alert-radius: 3px;
$alert-rounded: 200px;
